<!--contenido del medio, texto y fotos, Daniel.-->

<div class="container bg-white">

    <div class="d-flex justify-content-between aling-items-center px-5 ">
        <div class="mt-5 px-5">
            <h2>This First Heading Will Catch Your Eye </h2>
            <p>Fotos graciosas de animalitos que encontre sin licencia, las abri con photoshop y las redondie para
                que sean mas parecidas a las del trabajo que tenemos que replicar. </p>
        </div>

        <div>
            <img class="img-fluid" style="margin-right: 350px; margin-top: 30px"
                src="https://raw.githubusercontent.com/4GeeksAcademy/Projecto-Pablo-Felipe-Daniel/refs/heads/master/002.png">
        </div>

    </div>

    <div class="d-flex justify-content-between aling-items-center px-1 ">

        <div>
            <img class="img-fluid" style="padding-left: 4px; margin-top: 30px"
                src="https://raw.githubusercontent.com/4GeeksAcademy/Projecto-Pablo-Felipe-Daniel/refs/heads/master/001.png">
        </div>

        <div class="mt-5 px-5" style="margin-right: 350px; margin-top: 30px">
            <h2>Esto es un claro copy-paste del codigo anterior </h2>
            <p>Para que veas que no miento no me dedique ni a eliminar el texto anterior <br> y a continuaciuon dice lo
                <br>
                mismo Fotos graciosas de animalitos que encontre sin licencia, las abri con <br> photoshop y las
                redondie
                para que sean mas parecidas a las del trabajo <br> que tenemos que replicar.
            </p>
        </div>


    </div>
</div>