    <!--Header-->
    <div class="container-fluid" style="background-image: url(https://picsum.photos/id/133/1000/1000); background-position: center; background-size: cover; background-repeat: no-repeat; height: 600px;">
        <div class="row text-center" id="backgImg">
            <h1>
                <p class="fw-bold bg-light mt-5 ms-0 me-0" style="font-size: 300%; width: 100%;">One Page Wonder</p>
                <p class="fw-bold bg-light" style="font-size: 150%; width: 100%;">Will Knock Your Socks Off</p>
            </h1>
        </div>
    </div>